<%= form_for(@participant) do |f| %>
  <% if @participant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@participant.errors.count, "error") %> prohibited this participant from being saved:</h2>

      <ul>
      <% @participant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label '名前' %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label '来た？' %><br />
	<%= f.radio_button :arrival, "0" %> 来てない
	<%= f.radio_button :arrival, "1" %> 来た
  </div>
  <div class="field">
    <%= f.label '懇親会' %><br />
	<%= f.radio_button :BINGO, "0" %> 不参加
	<%= f.radio_button :BINGO, "1" %> 参加
  </div>
  <div class="field">
    <%= f.label '二次会' %><br />
	<%= f.radio_button :party, "0" %> 不参加
	<%= f.radio_button :party, "1" %> 参加
  </div>
  <div class="field">
    <%= f.label '職業' %><br />
	<%= f.radio_button :occupation, "0" %> 学生
	<%= f.radio_button :occupation, "1" %> 社会人
  </div>
  <div class="field">
    <%= f.label '備考' %><br />
    <%= f.text_area :remarks, :size=>"50x3" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
