<h1>Listing participants</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Arrival</th>
    <th>Bingo</th>
    <th>Party</th>
    <th>Occupation</th>
    <th>Remarks</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @participants.each do |participant| %>
  <tr>
    <td><%= participant.name %></td>
    <td><%= participant.arrival %></td>
    <td><%= participant.BINGO %></td>
    <td><%= participant.party %></td>
    <td><%= participant.occupation %></td>
    <td><%= participant.remarks %></td>
    <td><%= link_to 'Show', participant %></td>
    <td><%= link_to 'Edit', edit_participant_path(participant) %></td>
    <td><%= link_to 'Destroy', participant, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Participant', new_participant_path %>
